.pagination {
  display: flex;

  .active {
    background: white;
    color: #CC68EF !important;
  }
  .page-item {
    width: 40px;
    height: 40px;
    font-weight: bold;
    border-radius: 20px;
    text-align: center;
    padding-top: 9px;
    font-size: 14px !important;
    list-style-type: none !important;
  }
}

ol {
  padding-top: 15px;
  padding-left: 38px;
  padding-right: 38px;
  word-break: break-all;
  li {
    list-style-type: decimal !important;
  }
}

ul {
  padding-top: 10px;
  padding-left: 35px;
  padding-right: 35px;
  word-break: break-all;
  li {
    list-style-type: disc !important;
  }
}
